body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    
}

#header{
    height: 108px;
    width: 100%;
    background-color: black;
    position: sticky;
    top: 0;
    text-decoration: none;
    z-index: 999;
}

#header a{
    text-decoration: none;
    color: inherit;
}

#header-topsection{
    height: 22px;
    background-color: whitesmoke;
}

#header-topsection, #header-middlesection, #header-bottomsection{
    width: 100%;
}

.header-topsection-container, #header-middlesection-container, #header-bottomsection-container{
    width: 1200px;
    margin: 0 auto;
}

.header-topsection-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-topsection-container ul{
    margin: 0;
    padding: 0;
    display: inline;
}
.header-topsection-container ul li{
    list-style-type: none;
    display: inline;
    margin-right: 10px;
}
#header-icons{
    margin-top: 4px;
}
#header-icons li{ 
    margin-left: 10px;
    margin-right: 0px;
}

#header-middlesection{
    height: 64px;    
    border-bottom: solid 2px white;
    color: white;
}
#header-middlesection-container{
    display: flex;
    justify-content: space-between;    
}

#header-title{
    font-size: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: fantasy;
}

#header-title p{
    margin: 0;
    margin-bottom: 10px;
}

#header-icon{   
    margin-right: 15px;
}

.live{
    margin-left: 600px;
    margin-top: 14px;
    background-image: linear-gradient(maroon, red, maroon);
    height: 23px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#liveDot{
    font-size: 20px;
    margin-right: 5px;
    animation: liveDot linear 1s infinite;
}

@keyframes liveDot{
    50%{
        opacity: 0;
    }
}


#header-searchbar-section{
    margin-top: 13px;
}

#header-searchbar-section p{
    margin: 0 0 10px 0;
    text-align: end;
}

#header-searchbar{
    position: relative;    
    width: 200px;
}

#searchField{
    width: 95%;
}
#searchButton{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 24px;
    height: 24px;
    padding: 0;
}

#navoptions{
    margin: 1px 0 0 0;
    padding: 0;
    display: flex;    
    justify-content: space-between;
}
#navoptions a{
    list-style-type: none;
    display: inline;
    color: white;
    padding: 0 3%;
}

#navoptions a:hover{
    background-color: darkgray;
}

.main{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

#breaking-news{
    padding-top: 5px;
    width: 100%;
    margin-bottom: 30px;
    
    overflow: hidden;
}
#breaking-news-icon{
    color: white;
    margin-left: 50px;
    width: auto;
    display: inline-block;
}
#breaking-news-icon p{
    padding: 8px 10px;
    font-size: 9px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(221, 3, 3);
}

.breaking-newslist ul{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    padding-left: 0px;
}

.bn-list{
    width: 200%;
}

.bn-list li:hover{
    color: #B60200;
    cursor: pointer;
}

#lastBNlist:hover, #firstBNlistP:hover{
    color: #B60200;
    cursor: pointer;
}

.breaking-newslist ul li{
    display: inline;
    border-right: 1px solid darkgray;
    padding: 0px 10px;
    font-weight: bold;
}

#breaking-newslist-hours{
    font-weight: normal;
    display: block;
    padding: 2px 0px;
    color: darkgray;
    font-size: 14px;
}

#lastBNlist{
    border-right: none;
    color: transparent;
    background-image: linear-gradient(to right, black, white);
    -webkit-background-clip: text;
    background-clip: text;
}

#firstBNlistP{
    color: transparent;
    background-image: linear-gradient(to right, white, black, black);
    -webkit-background-clip: text;
    background-clip: text;
}

#lastBNlistP{
    border-right: none;
}

#breaking-newslist-nextbutton, #breaking-newslist-prevbutton{
    border: 1px solid darkgray;
    display: flex;
    align-items: center; 
    border-radius: 50%;
    width: auto;
    padding: 9px;
    height: 10px;
    margin-top: 20px;
    background-color: darkgray;
    font-weight: bold;
    color: white;
}

#breaking-newslist-nextbutton:hover, #breaking-newslist-prevbutton:hover{
    cursor: pointer;
    background-color: rgb(182, 3, 3);
}

.bnListSlideNext{
    animation: slideLeft linear 1s 1 forwards;
}

@keyframes slideLeft{
    100%{
        margin-left: -100%;
    }
}

.bnListSlidePrev{
    animation: slideRight linear 1s 1;
}

@keyframes slideRight{
    0%{
        margin-left: -100%;
    }
    100%{
        margin-left: 0%;
    }
}



.add-section1-header{
    margin: 20px auto;
    width: 800px;
}

.add-section1-header p{
    margin: 0;
    text-align: end;
    font-size: 11px;
}

.add-section1 img{
    width: 100%;
    height: 100%;
}
.add-section1{
    height: 100px;   
}

#addInit {
    display: block;
}


#main-section1{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px;
    grid-template-areas: "mainsection1left mainsection1right";
    column-gap: 15px;   
}

#main-section1-left{
    grid-area: mainsection1left;
    position: relative;
}

#main-section1-left img{
    width: 100%;
    height: 100%;
    z-index: -99;
}

#main-section1-right1 img, #main-section1-right2 img, #main-section1-right3 img, #main-section1-right4 img{
    width: 100%;
    height: 168px;
}

#main-section1-right1 img:hover, #main-section1-right2 img:hover, #main-section1-right3 img:hover, #main-section1-right4 img:hover{
    animation: zoomIn linear 300ms 1 forwards;   
    cursor: pointer;
}

@keyframes zoomIn{
    100%{
        width: 110%;
        height: 190px;
        transform: translateY(-5px) translateX(-7%);
    }
}


#main-section1-right{
    overflow: hidden;
    grid-area: mainsection1right;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 15px;
    grid-template-areas: "mainsection1right1 mainsection1right2"
                        "mainsection1right3 mainsection1right4";
}

#main-section1-right1{
    grid-area: mainsection1right1;
    position: relative;
    overflow: hidden;
}
#main-section1-right2{
    grid-area: mainsection1right2;
    position: relative;
    overflow: hidden;
}
#main-section1-right3{
    grid-area: mainsection1right3;
    position: relative;
    overflow: hidden;
}
#main-section1-right4{
    grid-area: mainsection1right4;
    position: relative;
    overflow: hidden;
}

.insidePms1l{
    position: absolute;
    bottom: 40px;
    text-align: start;
    margin: 0% 5%;
    color: white;
    font-size: 25px;
    font-weight: bolder;
}

#insidePms1lu{
    color: lightgray;
    font-size: 18px;
    font-weight: normal;
}

.insidePms1r1, .insidePms1r2{
    position: absolute;
    bottom: 10px;
    text-align: start;
    margin: 0% 5%;
}

.insidePms1r1:hover, .insidePms1r2:hover{
    color: #B60200;
    cursor: pointer;
}

.insidePms1style{
    color: white;
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 5px;
}


#main-section2{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 350px;
    grid-template-areas: "mainsection2left mainsection2middle mainsection2right";
    column-gap: 15px;   
    margin-bottom: 20px;
    font-weight: bold;
}

#main-section2-left{
    grid-area: mainsection2left;
}
#main-section2-middle{
    grid-area: mainsection2middle;
}
#main-section2-right{
    grid-area: mainsection2right;
}

#main-section2-left img, #main-section2-middle img, #main-section2-right img{
    width: 100%;
    height: 250px;
}

#main-section2-left:hover, #main-section2-middle:hover, #main-section2-right:hover{
   -webkit-filter: brightness(115%);
   cursor: pointer;
   color: #B60200;
}


#slide-section1{
    height: 400px;
    width: 100%;
    margin-top: 30px;
    background-color: black;
    position: relative;
    overflow: hidden;
}

#mesh-background{
    opacity: 0.2;
    z-index: 2;
    position: absolute;
}

#slider-background-pic{
    overflow: hidden;
}

#slider-background-pic img{
    position: absolute;
    width: 100vw;
    height: 100vh;
    filter: grayscale(90%);
    z-index: 1;
    opacity: 0.4;
}

#featured-slide{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
}

.slide-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#featured-pic-right img{
    width: 300px;
    height: auto;
    filter: grayscale(70%);
    order: 3;
    display: block;
}

#featured-pic-left img{
    width: 300px;
    height: auto;
    filter: grayscale(70%);
    order: 1;
}

#featured-text-right, #featured-text-left{
    display: none;
}

#featured-pic-middle img{
    width: 400px;
    filter: grayscale(0%);
    order: 2;
}

#featured-pic-middle img:hover{
    -webkit-filter: brightness(115%);
    cursor: pointer;
}

#featured-text-middle{ 
    position: absolute;
    bottom: 80px;
    left: 400px;
    color: white;
    width: 370px;
    margin: 0px 15px;
    font-size: 20px;
    background-color: rgba(90, 84, 84, 0.3);
}

#featured-text-middle:hover{
    cursor: pointer;
}

#hide-content{
    display: none;
}


#featured-text{
    position: absolute;
    left: 20px; 
    top: 5px;
    font-weight: bold;
    color: white;
    text-decoration: underline;
}





#featured-slide-buttons-container{
    position: absolute;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    width: 99.5%;
}

#featured-slide-button{
    border: 1px solid darkgray;
    display: flex;
    align-items: center; 
    border-radius: 50%;
    width: auto;
    padding: 16px;
    height: 10px;
    background-color: darkgray;
    font-weight: bold;
    color: white;
}

#featured-slide-button:hover{
    cursor: pointer;
    background-color: rgb(182, 3, 3);
}

.hidden-slide-list-text{
    background-color: rgba(90, 84, 84, 0.7);
}

.slide-list-text{
    margin: 3px;
}



#main-section3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 350px;
    grid-template-areas: "mainsection3left mainsection3middle mainsection3middle mainsection3right";
    column-gap: 15px;   
    margin-bottom: 30px;
    font-weight: bold;
    margin-top: 50px;
}

#main-section3-left{
    grid-area: mainsection3left;
    display: grid;
    justify-items: stretch;
}

#ms3-left:hover{
    -webkit-filter: brightness(115%);
    color: #B60200;
    cursor: pointer;
}

#main-section3-left img{
    width: 100%;
    height: 160px;
}

#ms3lP1{
    margin-top: 4px;
}

#ms3lP2{
    margin-bottom: 0px;
}

#main-section3-middle{
    grid-area: mainsection3middle;
    position: relative;
}

#main-section3-middle img{
    width: 100%;
    height: 100%;
}

    
.insidePms3m{
    position: absolute;
    bottom: 20px;
    text-align: start;
    margin: 0% 5%;
    color: #fefefe;
    font-size: 25px;
    font-weight: bolder;
    background-color: rgba(90, 84, 84, 0.5);


}

#main-section3-right{
    grid-area: mainsection3right;
    display: grid;
    justify-items: stretch;
}

#ms3rP1{
    margin-top: 0px;
}

#ms3rP2{
    margin-bottom: 0px;
}

#ms3lP2:hover, #main-section3-middle p:hover, #main-section3-right p:hover{
    color: #B60200;
    cursor: pointer;
}

#main-section3-middle img:hover{
    -webkit-filter: brightness(115%);
    cursor: pointer;
}

.main-section4{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 350px 350px; 
    grid-template-areas: "ms4r ms4r ms4u1 ms4u1 ms4u2 ms4u2"
                        "ms4r ms4r ms4d1 ms4d1 ms4d2 ms4d2";
    grid-gap: 15px;
    margin-top: 50px;
}

.ms4u1{
    grid-area: ms4u1;
}

.ms4u2{
    grid-area: ms4u2;
}

.ms4d1{
    grid-area: ms4d1;
}

.ms4d2{
    grid-area: ms4d2;
}

.ms4u1:hover, .ms4u2:hover, .ms4d1:hover, .ms4d2:hover{
    -webkit-filter: brightness(115%);
    cursor: pointer;
    color: #B60200;
}

.ms4u1-image img, .ms4u2-image img, .ms4d1-image img, .ms4d2-image img{
    width: 100%;
    height: 260px;
}


.ms4u1-p, .ms4u2-p, .ms4d1-p, .ms4d2-p{
    width: 100%;
    height: 20%;
    margin-top: 16px;
    font-weight: bold;
}

.ms4r{
    grid-area: ms4r;
    display: grid;
    grid-template-rows: 50px 130px 130px 130px 130px 130px;

}

.ms4r-header{
    padding-left: 15px;
    background-color: #B60200;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: white;
}

.ms4r-1 img, .ms4r-2 img, .ms4r-3 img, .ms4r-4 img, .ms4r-5 img{
    height: 80px;
    padding-left: 8px; 
    padding-right: 5px;
}

.ms4r-1, .ms4r-2, .ms4r-3, .ms4r-4, .ms4r-5{
    color: white;
    display: flex;
    align-items: center;
}

.ms4r-1:hover, .ms4r-2:hover, .ms4r-3:hover, .ms4r-4:hover, .ms4r-5:hover{
    color: #B60200;
    cursor: pointer;
}
.ms4r-1{
    background-color: rgb(24, 24, 24);   
}
.ms4r-2{
    background-color: black;    
}
.ms4r-3{
    background-color: rgb(24, 24, 24);   
}
.ms4r-4{
    background-color: black;
}
.ms4r-5{
    background-color: rgb(24, 24, 24);   
}



.main-section5{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px; 
    grid-template-areas: "ms5l ms5r";
    grid-gap: 15px;
    margin-top: 50px;
}

.ms5l{
    grid-area: ms5l;
}

.ms5r{
    grid-area: ms5r;
}


.footer{
    height: 300px;
    width: 100%;
    background-color: black;
    margin-top: 60px;
}

.footer-container{
    color: white;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 30px 200px 50px;
    grid-template-areas: "ftS ftS ftS ftS ftS"
                         "ffL sfL tfL ftfL ."
                         ". fcN fcN fcN .";
}

.footer-container a{
    color: inherit;
    text-decoration: none;
}

.footer-container ul{
    list-style-type: none;
}

.footer-container ul li{
    margin: 10px;
}

.first-footerList{
    grid-area: ffL;
}

.second-footerList{
    grid-area: sfL;
}

.third-footerList{
    grid-area: tfL;
}

.fourth-footerList{
    grid-area: ftfL;
}

.footer-Cnote{
    grid-area: fcN;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-topsection{
    grid-area: ftS;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-languages{
    padding-left: 0px;
}

#footer-languages li{
    display: inline;
}

#footer-icons{
    display: flex;
    padding-left: 0px;
    align-items: center;
}

#footer-icons li{
    margin: 0px 10px;
    padding-top: 2px;
}

#footer-Icon{
    margin-right: 10px;
    height: 35px;
}

.footer-firstLine{
    height: 30px;
    width: 100%;
    border-bottom: 2px solid white;
    position: absolute;
}