body{
    background-color: lightgray;
}


#header{
    height: 90px;
    width: 100%;
    background-color: black;
    position: sticky;
    top: 0;
}

#main{
    background-color: beige;
    width: 80%;
    height: 700px;
    margin: 0 auto;
}

#footer{
    height: 140px;
    width: 100%;
    background-color: lightslategray;
}